<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/homepage">WCETEQIP</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-center">
        
        <li class="active"><%= link_to "Home",homepage_path %></li>
  		<li><%= link_to  "Directors", directors_desk_path %></li>
		<li><%= link_to "TEQIP III", guidelines_path %></li>
		<li><%= link_to "NPIU",perf_a_report_path %></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Departmantwise",statistics_path %></li>
            <li><%= link_to "Proposal Typewise ",p_type_graph_path %></li>
            <li role="separator" class="divider"></li>

            <li><%= link_to "Mechanical",mech_graph_path %></li>
            <li><%= link_to "Civil",civil_graph_path %></li>
            <li><%= link_to "CSE",cse_graph_path %></li>
            <li><%= link_to "Electrical",electrical_graph_path %></li>
            <li><%= link_to "Electronics",electronics_graph_path %></li>
            <li><%= link_to "IT",it_graph_path %></li>
          </ul>
        </li>
        <% if user_signed_in? && (current_user.user_type == "Director" || current_user.user_type == "Deputy_director" || current_user.user_type == "HOD_CSE" || current_user.user_type == "HOD_IT"|| current_user.user_type == "HOD_Civil"|| current_user.user_type == "HOD_Mechanical"|| current_user.user_type == "HOD_Electrical"|| current_user.user_type == "HOD_Electronics"|| current_user.user_type == "Admin")%>
	      	<li class="dropdown">
	          	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Proposals<span class="caret"></span></a>
	          	<ul class="dropdown-menu">
          <li><%= link_to "All Proposals",summary_page_path %></li>
					<li><%= link_to "Approved",approved_proposals_path %></li>
					<li><%= link_to "Bill-Submitted",bill_sub_proposals_path %></li>
					<li><%= link_to "Sanctioned",sanctioned_proposals_path %></li>
					<li><%= link_to "Debited",debited_proposals_path %></li>
				</ul>
			</li>
      	<% end %>
		<% if user_signed_in? && current_user.user_type != "Admin" %>
      		<li><%= link_to "My Proposal",proposals_path(current_user) %></li>
   		<% end %>

      	<% if user_signed_in? && (current_user.user_type == "Student" || current_user.user_type == "Teacher") %>
      		<li><li><%= link_to "Profile",profile_page_path(passed_user: current_user) %></li></li>
      	<% end %>
     </ul>
      <form class="navbar-form navbar-right">
      	<% unless user_signed_in? %>  
			<%= link_to "Login",new_user_session_path , class: "btn btn-sm btn-success" %>
 			<%= link_to "Sign up", new_registration_path(resource_name) , class: "btn btn-sm btn-primary"%>
		<%else %>
 			<%= link_to "Logout",destroy_user_session_path ,method: :delete , class: "btn btn-sm btn-danger"%> 		
		<% end %>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>