<%= render 'partials/navbarhome' %>

<div class="col-12">
		<div class="cont">
		 <%= image_tag(('bghp1.jpg') , class: "img10" )%>
		<div class = "centered">
			<h1 style=" font-family: 'Antic Slab'; font-size: 100px ; color: #fff;"><b>WCE TEQIP</b></h1>
			</div>
			</div>
	<div style="background-color: #d04737; padding: 5%;">	
	<div class="row">
		<div class="col-md-4" style="padding: 2%;">
			<div class="box-info">
				<h3 class="my-text">Student</h3>
			    <hr style="border-color: grey;">
			    <p class="my-text">Enjoy the benifits of TEQIP</p>
			    <p class="my-text">Apply for activites and events around you</p>
			    <p class="my-text">TechFests, Hackathons, all you could possibly go for and develop yourself.</p>
			    <p class="my-text">Just put forth a proposal, and we will take care of the rest.</p>
			</div>
		</div>
		<div class="col-md-4" style="padding: 2%;">
			<div class="box-info">
				<h3 class="my-text">Faculty</h3>
			    <hr style="border-color: grey;">
			    <p class="my-text">TEQIP cares for the teaching ones.</p>
			    <p class="my-text">Apply for activities such as Research Publication, Patenting, Qualification Upgardation and more.</p>
			    <p class="my-text">Anything you apply for that'll increase in your capabilities.We are here to help.</p>

			</div>
		</div>
		<div class="col-md-4" style="padding: 2%;">
			<div class="box-info">
				<h3 class="my-text">Admin</h3>
			    <hr style="border-color: grey;">
			    <p class="my-text">View all proposals, approve or dissaprove them, sanction the amount to be paid, it's all in your hands.</p>
			    <p class="my-text">You control the proposal application process.</p>
			    <p class="my-text">You monitor the life cycle of a proposal.</p>
			    <p class="my-text">You administer the overall TEQIP portal.</p>
			</div>
		</div>
	</div>
	</div>
	<div class="container">
		<div class="col-md-8 col-md-offset-2" style="padding: 3%;">
			<h2 class="my-text" align="center"><strong>TEQIP-III</strong></h2>
			<br>
			<p class="my-text" align="center">The Project, Third phase of Technical Education Quality Improvement Programme (referred to as TEQIP-III) is fully integrated with the Twelveth Five-year Plan objectives for Technical Education as a key component for improving the quality of Engineering Education in existing institutions with a special consideration for Low Income States and Special Category States (SCS) and support to strengthen few affiliated technical universities to improve their policy, academic and management practices </p>
		</div>
	</div>

	<div style="background-color: #fff; padding: 5%;">
		<div class="row">
			<div class="col-md-6" style="padding: 3%;">
				<div class="box-info2">
				<div align="center">
					<span class="glyphicon glyphicon-file fa-3x"></span><h2 class="my-text2">Activities</h2>
				</div>
				<br/>
				<p class="my-text2" align="center">
					Explore Events around you.
				
					Be up to date with activities and events that'll present you with opportunities to develop yourself.
					
					Don't worry, we are TEQIP, we will pay.
				</p>
				<br>
				<br>
				<h4 align="center" class="link-options2"><strong><%= link_to "View", activities_path %></strong></h4>
				</div>
			</div>
			<div class="col-md-6" style="padding: 3%;">
				<div class="box-info2">
				<div align="center">
					<span class="glyphicon glyphicon-blackboard fa-3x"></span><h2 class="my-text2">Notices</h2>
				</div>
				<br/>
				<p class="my-text2" align="center">
					Be Notified!
			
					The notices here are Important. Change in event dates, notices about recent changes in TEQIP's rules,all could be found here.
					
					Make sure you check this every time you visit this portal, who knows what could change and what could go wrong.
				</p>
				<br/>
				<h4 align="center" class="link-options2"><strong><%= link_to "View", notices_path %></strong></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="footer my-text">
		<div class="row">
		<div class="col-md-6" style="padding: 8%;">
		  
		    <h2 class="my-text3">About Us</h2>
		    <p style="color: #fff;"> This portal is designed to help all the members of WCE family.<br>From Teachers to students and TPO, anything that'll help you apply for something that'll benifit you and college, this portal helps, as it connects you with TEQIP office.</p>
		 
		</div>
		<div class="col-md-6" style="padding: 8%;">
		
		    <h2 class="my-text3">Contact Us</h2>
		    <p style="color: #fff;">Department of CSE <br> Walchand College of Engineering,Sangli<br>Vishrambagh-416415</p>
		    <br>
		    <h6 style="color: #fff;">teqipwce@gmail.com</h6>
		    <a href="#"><%= image_tag("facebook.svg" , size: '40x40')%></a>
		    <a href="#"><%= image_tag("linkedin.svg" , size: '40x40')%></a>
		    <a href="#"><%= image_tag("tumblr.svg" , size: '40x40')%></a>
		    <a href="#"><%= image_tag("twitter.svg" , size: '40x40')%></a>
		  
		</div>
	</div>
	</div>
	<div class="footer2 my-text">
	        <p style="color: #fff; vertical-align: center;" align="center">Copyright © 2018 WCETEQIP | Developed by Varia </p>
	</div>
</div>
 	
 
