<%= render 'partials/navbarhome' %>
<div class="container" style="padding-top: 4%; padding-bottom: 4%;">
  <div class="col-12">
    <div class="col-xs-6 col-xs-offset-3">
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h2><%= t('.sign_in', default: 'Sign in') %></h2>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
      <div class="form-group">
        <%= f.label :login %>
        <%= f.text_field :login, autofocus: true,placeholder: "Username or Email" ,class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'off', placeholder: "Password",class: 'form-control' %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Remember me') %>
          <% end %>
        </div>
      <% end %>
      <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-success' %>
    <% end %>
      
  </div>
  <div class="panel-footer">
    <%= render 'devise/shared/links' %>
  </div>
</div>
</div>
</div>
</div>